{% extends "base.html" %}

{% block content %}
<h1>Dashboard</h1>

<div class="stats-grid">

  <div class="stat-card">
    <div>Total Students</div>
    <div class="stat-number">{{ stats.total }}</div>
  </div>

  <div class="stat-card">
    <div>First Year</div>
    <div class="stat-number">{{ stats.first_year }}</div>
  </div>

  <div class="stat-card">
    <div>Second Year</div>
    <div class="stat-number">{{ stats.second_year }}</div>
  </div>

  <div class="stat-card">
    <div>Third Year</div>
    <div class="stat-number">{{ stats.third_year }}</div>
  </div>

  <div class="stat-card">
    <div>Arrears</div>
    <div class="stat-number">{{ stats.arrear_students }}</div>
  </div>

</div>

<br><br>

<div class="card">
  <h3>Quick Access</h3>
  <br>
  <a class="btn" href="/students">Students</a>
  <a class="btn" href="/rankings">Rankings</a>
  <a class="btn" href="/arrears">Arrears</a>
</div>

{% endblock %}