{% extends "base.html" %}

{% block content %}

<div class="title">Dashboard</div>

<div class="grid">

  <div class="card">
    <div>Total Students</div>
    <div class="value">{{ stats.total }}</div>
  </div>

  <div class="card">
    <div>First Year</div>
    <div class="value">{{ stats.first_year }}</div>
  </div>

  <div class="card">
    <div>Second Year</div>
    <div class="value">{{ stats.second_year }}</div>
  </div>

  <div class="card">
    <div>Third Year</div>
    <div class="value">{{ stats.third_year }}</div>
  </div>

  <div class="card">
    <div>Arrears</div>
    <div class="value">{{ stats.arrear_students }}</div>
  </div>

</div>

{% endblock %}