{% extends "base.html" %}

{% block content %}
<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Roll No</th>
      <th>Name</th>
      <th>Year</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {% for s in students %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ s.rollno }}</td>
      <td>{{ s.name }}</td>
      <td>{{ s.year }}</td>
      <td><a class="btn" href="/students/{{ s._id }}">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}